.star-contest-item {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 6rem;
    display: flex;
    /*
    align-items: center;*/ /* 세로 가운데 정렬 */
    cursor: pointer;
    transition: all 0.15s;
    user-select: none;
  }
  
  .star-contest-item:hover {
    background: #e3fafc;
  }

  /* contest-item 사이에 윗 테두리 */
  .star-contest-item + .star-contest-item {
    border-top: 1px solid #f1f3f5;
  }
  
  .star-contest-title {
    padding-left: 1rem;
    flex: 1;
    word-break: break-all;
    font-weight: 500;
    font-size: 16pt;
    align-self: center;
}
  