.search {
    border: none;
    margin-right: 4px;
    font-size: 12pt;
}

.search-icon {
    width: auto;
    height: auto;
    max-width: 1.5rem;
    max-height: 1.5rem;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 15px;
    display: inline-block;
}

.again-icon {
    width: auto;
    height: auto;
    max-width: 1.1rem;
    max-height: 1.1rem;
    display: inline-block;
    vertical-align: middle;
}
